<div class="container">
  <div style="text-align: center">
    <h2>Contact Us</h2>
    <p>
      Veuillez nous contacter en cas de problème via ce formulaire trop bien
      fais.
    </p>
  </div>
  <div class="row">
    <div class="column">
      <img src="../../../assets/map.jpg" style="width: 100%" />
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">Nom</label>
        <input
          type="text"
          id="fname"
          name="firstname"
          placeholder="Votre nom.."
        />
        <label for="lname">Prénom</label>
        <input
          type="text"
          id="lname"
          name="lastname"
          placeholder="Votre prénom.."
        />
        <label for="subject">Description</label>
        <textarea
          id="subject"
          name="subject"
          placeholder="Décrire le problème..."
          style="height: 170px"
        ></textarea>
        <input type="submit" value="Soumettre" />
      </form>
    </div>
  </div>
</div>
}
