<div class="container">
  <div style="text-align: center">
    <h2>Contact Us</h2>
    <p>
      Veuillez nous contacter en cas de problème via ce formulaire trop bien
      fais.
    </p>
  </div>
  <div class="row">
    <div class="column">
      <img src="../../../assets/map.jpg" style="width: 100%" />
    </div>
    <div class="column">
      <form class="form">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prenom</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput style="height: 170px"></textarea>
        </mat-form-field>
        <button mat-raised-button class="btn"  type="submit" value="la">Soumettre</button>
      </form>
    </div>
  </div>
</div>
