.list {
  justify-content: center;
  float: left;
    display: flex;
  list-style: square outside none;
  margin-top: 50px;
}

li {
 display: block;
}

.mat-card-image {
 width:  425px;
 height: 250px;
}

.list2 {
  justify-content: center;
  float: left;
    display: flex;
  list-style: square outside none;
  margin-top: 50px;
}

.mat-card-actions {
  display: flex;
}

.mat-card-actions .felx-spacer {
  width: 100%;
}

.title {
  text-align: center;
}