<div class="new-post"> 
    <mat-card>
        <mat-card-header>
            <mat-card-title>New Post</mat-card-title>
        </mat-card-header>
        <form class="div-full" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form">
                <mat-form-field color="warn">
                    <input matInput placeholder="Title" id="title" name="title" ngModel required>
                    <p class="text-danger">{{ errorMessage }}</p>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>content</mat-label>
                    <textarea matInput id="content" name="content" ngModel required></textarea>
                </mat-form-field>
                <mat-form-field color="warn">
                    <input matInput placeholder="category" id="category" name="category" ngModel required>
                </mat-form-field>
                <div>
                    <input type="file" (change)="detectFiles($event)"
                        class="form-control" accept="image/*">
                </div>
                <mat-card-actions align="end">
                    <button  mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Create</button>
                    <button  mat-raised-button color="warn" (click)="cansel()" >Cansel</button>
                </mat-card-actions>
            </div>
        </form>
    </mat-card>
</div>
