<mat-tab-group color="red">
  <mat-tab>
    <div>
      <mat-card class="header">
        <h1>Welcome to the site</h1>
        <h2>
          Here you will find shocking articles on current events and also
          everything that fascinates us in life.
        </h2>
      </mat-card>
    </div>
    <div
      style="
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
        display: inline-block;
      "
    >
      <h3>The latest blog posted :</h3>
      <div
        class="list"
        *ngFor="let post of blogs?.reverse() | slice: 0:4; let i = index"
      >
        <ul>
          <li>
            <mat-card>
              <img mat-card-image src="{{ post.photo }}" alt="Photo" />
              <mat-card-title>
                <p>{{ post.title }}</p>
              </mat-card-title>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="goPost(i)">
                  Read more
                </button>
              </mat-card-actions>
            </mat-card>
          </li>
        </ul>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
