.list {
  display: inline-block;
}

li {
  display: inline-block
}

ul {
  display: inline-block;
}

.mat-card {
  display: inline-block;
}

.mat-card-image {
 width:  425px;
 height: 250px;
}

.header {
  margin: 30px
}

h1 {
  text-align:center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  text-align:center;
  margin: 20px;
  font-size: 30px;
}

h3 {
  margin-left: 40px;
  font-size: 30px;
}

:host ::ng-deep .mat-tab-label {
  min-width: 0px;
}
