<div class="about-section">
  <h1>About Us</h1>
  <p>Nous créons des blogs pour la population.</p>
</div>

<h2 style="text-align: center">Notre équipe</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../assets/Ronan.jpg" alt="Ronan" style="width: 100%" />
      <div class="container">
        <h2>Ronan Bouziane</h2>
        <p class="title">Developpeur</p>
        <p>
          Meilleur developpeur de la décenni devant Elon Musk meme si il dev
          pas.
        </p>
        <p>ronan.bouziane@epitech.eu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        src="../../../assets/Gaspard.jpg"
        alt="Gaspard"
        style="width: 100%"
      />
      <div class="container">
        <h2>Gaspard Mater</h2>
        <p class="title">Developpeur</p>
        <p>
          C'est moi le meilleur developpeur du monde devant Elon Musk meme si
          Elon Musk ne dev toujours pas.
        </p>
        <p>gaspard.mater@epitech.eu</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../assets/Anisse.jpg" alt="Anisse" style="width: 100%" />
      <div class="container">
        <h2>Anisse Jany</h2>
        <p class="title">Developpeur</p>
        <p>Je suis un développeur de niveau moyen mais j'ai des relations.</p>
        <p>anisse.jany@epitech.eu</p>
      </div>
    </div>
  </div>
</div>
