<mat-card class="about-section">
  <mat-card-title>About Us</mat-card-title>
  <mat-card-content>Nous créons des blogs pour la population.</mat-card-content>
</mat-card>
<p></p>
<mat-card-title style="text-align: center">Notre équipe</mat-card-title>
<div class="row">
  <div class="column">
    <mat-card class="card">
      <img src="../../../assets/Ronan.jpg" alt="Ronan" style="width: 100%" />
      <div class="container">
        <mat-card-title>Ronan Bouziane</mat-card-title>
        <mat-card-subtitle class="title">Developpeur</mat-card-subtitle>
        <mat-card-content>
          Meilleur developpeur de la décenni devant Elon Musk meme si il dev
          pas.
        </mat-card-content>
        <mat-card-content>ronan.bouziane@epitech.eu</mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="column">
    <mat-card class="card">
      <img
        src="../../../assets/Gaspard.jpg"
        alt="Gaspard"
        style="width: 100%"
      />
      <div class="container">
        <mat-card-title>Gaspard Mater</mat-card-title>
        <mat-card-subtitle class="title">Developpeur</mat-card-subtitle>
        <mat-card-content>
          C'est moi le meilleur developpeur du monde devant Elon Musk meme si
          Elon Musk ne dev toujours pas.
        </mat-card-content>
        <mat-card-content>gaspard.mater@epitech.eu</mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="column">
    <mat-card class="card">
      <img src="../../../assets/hitler.jpeg" alt="Anisse" style="width: 100%" />
      <div class="container">
        <mat-card-title>Anisse Jany</mat-card-title>
        <mat-card-subtitle class="title">Developpeur</mat-card-subtitle>
        <mat-card-content
          >Je suis un développeur de niveau moyen mais j'ai des
          relations.</mat-card-content
        >
        <mat-card-content>anisse.jany@epitech.eu</mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
