<div class="login-main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login Admin</mat-card-title>
    </mat-card-header>
    <form class="div-full"  (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form">
      <mat-form-field color="warn">
        <input matInput placeholder="Email" id="email" name="email" ngModel required>
        <p class="text-danger">{{ errorMessage }}</p>
        </mat-form-field>
        <mat-form-field color="warn">
          <input type="password" matInput placeholder="Password" id="password" name="password" type="password" ngModel required>
        </mat-form-field>
        <mat-card-actions align="end">
         <button   mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Se connecter</button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card>
</div>
