.list {
     float: left; 
     list-style: square outside none;
}
li {
    display: block;
}

.mat-card-image {
    width:  250px;
    height: 125px;
}

.mat-card { 
    //idth:  100px;
    //height: 100px;w
}
