.list {
     float: left;
     list-style: square outside none;
     margin-top: 50px;
}
li {
    display: block;
}

.mat-card-image {
    width:  425px;
    height: 250px;
}

.btn {
    margin-top: 20px;
    margin-left: 40px;
}