<div class="posts">
    <div class="btn">
        <button mat-raised-button color="warn" (click)="goback()">Return</button>
    </div>
    <div *ngFor="let post of blogs; let i = index">
        <ul class="list" *ngIf="post.categorie == name">
        <li>
            <mat-card >
                <img  mat-card-image src="{{post.photo}}" alt="Photo">
            <mat-card-title>
                <p>{{post.title}}</p>
            </mat-card-title>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="goPost(i)">Read more</button>
            </mat-card-actions>
            </mat-card>
        </li>
        </ul>
    </div>
</div>
