.list {
  display: inline-block;
  text-align: center;
}

.li {
  display: inline-block
}

.ul {
  display: inline-block;
}

.mat-card {
  display: inline-block;
}

  .mat-card-image {
   width:  425px;
   height: 250px;
  }

  .list2 {
    justify-content: center;
    float: left;
      display: flex;
    list-style: square outside none;
    margin-top: 50px;
  }
  
