<mat-tab-group color="red">
  <mat-tab>
<div class="title">
  <div style="margin-top: 100px; margin-bottom: 100px; text-align: center; display: inline-block;">
  <div class="list" *ngFor="let post of blogs?.reverse(); let i = index" >
    <ul>
      <li>
          <mat-card >
              <img  mat-card-image src="{{post?.photo}}" alt="Photo">
          <mat-card-title>
              <p>{{post?.title}}</p>
          </mat-card-title>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="goPost(i)">Read more</button>
          </mat-card-actions>
          </mat-card>
      </li>
      </ul>
  </div>
  </div>
</div>
  </mat-tab>
</mat-tab-group>
