.mat-card {
    max-width: 600px;
    margin: auto;
}

.mat-card-actions {
    display: flex;
}
.mat-card-actions .felx-spacer {
    width: 85%;
}

.btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

