.mat-card {
    max-width: 600px;
    margin: auto;
}

.mat-card-actions {
    display: flex;
}
.mat-card-actions .felx-spacer {
    width: 85%;
}

li {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ul {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 96%;
}

.btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.btn {
    color: white;
  }

.title {
    text-align: center;
}
.list {
    align-items: center;
    justify-content: center;
}

