<h2 class="title">Legal informations</h2>
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        1. Presentation of the site.
      </mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <p>Under article 6 of law n ° 2004-575 of June 21, 2004 on confidence in the digital economy, users of the site are informed <a href="http://www.myangular.com/">www.myangular.com</a> the identity of the various stakeholders as part of its implementation and monitoring:</p>
        <p><strong>Owner</strong> : OKLM – 123 456 789 01234 – Paname<br />
        <strong>Creator</strong>  : <a href="www.myangular.com">Ronan Bouziane</a><br />
        <strong>Publication manager </strong> : Ronan Bouziane – Ronan Bouziane<br />
        The publication manager is a natural person or a legal person.<br />
        <strong>Webmaster</strong> : Gaspard Mater – admin@admin.com<br />
        <strong>Host</strong> : OK – Paname<br />
        Credits: Gaspard  Mater, Anisse Jany<br />
        The legal notice model is offered by Subdelirium.com <a target="_blank" href="https://www.subdelirium.com/generateur-de-mentions-legales/">Legal mention</a></p>
      </mat-card-content>
  </mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      2. General conditions of use of the site and the services offered.
    </mat-card-title>
  </mat-card-header>
    <mat-card-content>
      <p> General conditions of use of the site and the services offered. <a href="http://www.myangular.com/"> www.myangular.com </a> implies full acceptance of the general conditions of use described below. These conditions of use may be modified or supplemented at any time, users of the <a href="http://www.myangular.com/"> www.myangular.com </a> site are therefore invited to consult them on a regular basis. </p>
      <p> This site is normally accessible to users at all times. An interruption due to technical maintenance may however be decided by OKLM, who will then endeavor to communicate to users beforehand the dates and times of the intervention. </p>
      <p> The <a href="http://www.myangular.com/"> www.myangular.com </a> site is regularly updated by Ronan Bouziane. Likewise, the legal notices can be modified at any time: they are nevertheless binding on the user, who is invited to refer to them as often as possible in order to become acquainted with them. </p>
    </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      3. Description of the services provided.
    </mat-card-title>
  </mat-card-header>
    <mat-card-content>
      <p> The purpose of the <a href="http://www.myangular.com/"> www.myangular.com </a> site is to provide information on all of the company's activities. </ p>
      <p> OKLM strives to provide on the <a href="http://www.myangular.com/"> www.myangular.com </a> site as accurate information as possible. However, it cannot be held responsible for omissions, inaccuracies and deficiencies in the update, whether by itself or by the third party partners who provide this information. </p>
      <p> All the information indicated on the site <a href="http://www.myangular.com/"> www.myangular.com </a> are given as an indication, and are likely to evolve. Furthermore, the information on the site <a href="http://www.myangular.com/"> www.myangular.com </a> is not exhaustive. They are given subject to modifications having been made since they were put online. </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
     <mat-card-header>
       <mat-card-title>
         4. Contractual limitations on technical data.
       </mat-card-title>
     </mat-card-header>
       <mat-card-content>
         <p> The site uses JavaScript technology. </p>
         <p> The website cannot be held responsible for material damage related to the use of the site. In addition, the user of the site agrees to access the site using recent equipment, which does not contain viruses and with an up-to-date latest generation browser </p>
       </mat-card-content>
   </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        5. Intellectual property and counterfeits.
      </mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <p> OKLM is the owner of the intellectual property rights or holds the rights of use on all the elements accessible on the site, in particular the texts, images, graphics, logo, icons, sounds, software. </p>
        <p> Any reproduction, representation, modification, publication, adaptation of all or part of the elements of the site, whatever the means or process used, is prohibited without the prior written authorization of: OKLM. </p>
        <p> Any unauthorized use of the site or any of the elements it contains will be considered as constituting an infringement and prosecuted in accordance with the provisions of articles L.335-2 and following of the Intellectual Property Code. / p>
      </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        6. Limitations of Liability.
      </mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <p> OKLM cannot be held responsible for any direct or indirect damage caused to the user's equipment when accessing the www.myangular.com site, and resulting either from the use of equipment that does not meet the specifications indicated in point 4, either the appearance of a bug or an incompatibility. </p>
        <p> OKLM cannot also be held responsible for indirect damages (such as for example a loss of market or loss of a chance) consecutive to the use of the site <a href = "http: //www.myangular. com / "> www.myangular.com </a>. </p>
        <p> Interactive spaces (possibility to ask questions in the contact area) are available to users. OKLM reserves the right to remove, without prior notice, any content posted in this space that would violate the law applicable in France, in particular the provisions relating to data protection. Where applicable, OKLM also reserves the right to question the civil and / or criminal liability of the user, in particular in the event of a racist, abusive, defamatory or pornographic message, whatever the medium used (text , photography ...). </p>
      </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        7. Management of personal data.
      </mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <p> In France, personal data is protected in particular by law n ° 78-87 of January 6, 1978, law n ° 2004-801 of August 6, 2004, article L. 226-13 of the Penal Code and the European Directive of October 24, 1995. </p>
        <p> On the occasion of the use of the site <a href="http://www.myangular.com/"> www.myangular.com </a>, can be collected: the URL of the links by through which the user accessed the site <a href="http://www.myangular.com/"> www.myangular.com </a>, the user's access provider, the user's Internet Protocol (IP) address. </p>
        <p> In any event OKLM only collects personal information about the user for the need of certain services offered by the site <a href="http://www.myangular.com/"> www.myangular .com </a>. The user provides this information with full knowledge of the facts, in particular when he enters it himself. It is then specified to the user of the site <a href="http://www.myangular.com/"> www.myangular.com </a> the obligation or not to provide this information. </p>
        <p> In accordance with the provisions of articles 38 and following of the law 78-17 of January 6, 1978 relating to data processing, files and freedoms, any user has a right of access, rectification and opposition to personal data concerning him, by making his written and signed request, accompanied by a copy of the identity document with signature of the holder of the document, specifying the address to which the reply must be sent. </p>
        <p> No personal information of the user of the site <a href="http://www.myangular.com/"> www.myangular.com </a> is published without the user's knowledge , exchanged, transferred, assigned or sold on any medium to third parties. Only the assumption of repurchase of OKLM and its rights would allow the transmission of such information to the possible purchaser who would in turn be bound by the same obligation to store and modify data with regard to the user of the site. <a href = "http://www.myangular.com/"> www.myangular.com </a>. </p>
        <p> The databases are protected by the provisions of the law of July 1, 1998 transposing directive 96/9 of March 11, 1996 on the legal protection of databases. </p>
      </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        8. Hypertext links and cookies.
      </mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <p> The site <a href="http://www.myangular.com/"> www.myangular.com </a> contains a number of hypertext links to other sites, set up with the permission of OKLM. However, OKLM does not have the possibility of verifying the content of the sites thus visited, and therefore assumes no responsibility for this fact. </p>
        <p> The navigation on the site <a href="http://www.myangular.com/"> www.myangular.com </a> is likely to cause the installation of cookie (s) on the computer of the user. A cookie is a small file, which does not allow the user to be identified, but which records information relating to the navigation of a computer on a site. The data thus obtained are intended to facilitate subsequent navigation on the site, and are also intended to allow various measures of attendance. </p>
        <p> Refusing to install a cookie may make it impossible to access certain services. The user can however configure his computer as follows, to refuse the installation of cookies: </p>
        <p> In Internet Explorer: tool tab (pictogram in the shape of a cog at the top right) / internet options. Click on Privacy and choose Block all cookies. Validate on Ok. </p>
        <p> In Firefox: at the top of the browser window, click on the Firefox button, then go to the Options tab. Click on the Privacy tab.
          Configure the Conservation rules on: use personalized parameters for history. Finally, uncheck it to disable cookies. </p>
        <p> In Safari: Click at the top right of the browser on the menu pictogram (symbolized by a cog). Select Settings. Click Show advanced settings. In the "Confidentiality" section, click on Content settings. In the "Cookies" section, you can block cookies. </p>
        <p> Under Chrome: Click at the top right of the browser on the menu pictogram (symbolized by three horizontal lines). Select Settings. Click Show advanced settings. In the "Confidentiality" section, click on preferences. In the "Confidentiality" tab, you can block cookies. </p>
      </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        9. Applicable law and attribution of jurisdiction.
      </mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <p> Any dispute in connection with the use of the <a href="http://www.myangular.com/"> www.myangular.com </a> site is subject to French law. Exclusive jurisdiction is attributed to the competent courts of Paris. </p>
        <h3> 10. The main laws concerned. </h3>
        <p> Law n ° 78-17 of January 6, 1978, in particular modified by law n ° 2004-801 of August 6, 2004 relating to data processing, files and freedoms. </p>
        <p> Law n ° 2004-575 of June 21, 2004 for confidence in the digital economy. </p>
        <h3> 11. Lexicon. </h3>
        <p> User: Internet user connecting, using the aforementioned site. </p>
        <p> Personal information: "information which allows, in any form whatsoever, directly or indirectly, the identification of the natural persons to whom they apply" (article 4 of law n ° 78-17 of January 6, 1978 ). </p>
      </mat-card-content>
  </mat-card>
