<div class="display">
  <mat-card class="card1">
    <mat-card-title class="title">Site specific notices</mat-card-title>
    <mat-card-content>
      <p>
        The individual who creates a website is not obliged to reveal his
        identity. However, he must communicate to the host of his site the
        elements which will allow him to be identified if necessary. These
        identification elements are covered by professional secrecy. But the
        website host has the obligation to disclose them in the context of legal
        proceedings.
      </p>
      <p>
        If the individual chooses to remain anonymous, the only mandatory
        information to be found on his website are: name, name or company name
        and address and telephone number of the host of his website.
      </p>
      <p>
        If the individual does not wish to remain anonymous, he must indicate
        the legal notices concerning himself and those of the host of his
        website.
      </p>
    </mat-card-content>
    <mat-card class="warning">
      <mat-card-content class="warning">
        Please note: failure to comply with these obligations may result in a
        prison sentence of up to <b>1 year and 75,000€</b>.
      </mat-card-content>
    </mat-card>
  </mat-card>
  <mat-card class="card1">
    <mat-card-title class="title"
      >Notice relating to the use of cookies</mat-card-title
    >
    <mat-card-content>
      <p>
        A cookie is a small computer file which makes it possible to analyze the
        behavior of users when visiting a website or using software or a mobile
        application.
      </p>
      <p>Publishers of sites or applications that use cookies must:</p>
      <ul>
        <li>Inform internet users of the purpose of cookies,</li>
        <li>Obtain their consent,</li>
        <li>Provide Internet users with a way to refuse them.</li>
      </ul>
      <p>
        The period of validity of the consent given in this context is 13 months
        maximum.
      </p>
    </mat-card-content>
  </mat-card>
</div>
